* {
  box-sizing: border-box;
}

html,
body,
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  touch-action: none;
}

body {
  background: #ff4a89;
}

canvas {
  touch-action: none;
}

article {
  z-index: 100;
  position: absolute;
  display: grid;
  top: 0;
  height: 100vh;
  width: 100vw;
  left: 0;

  justify-content: center;
}
